Source: banshee-extension-lirc
Section: misc
Priority: extra
Maintainer: Jean-Baptiste Lab <jeanbaptiste.lab@gmail.com>
Build-Depends: debhelper (>= 7.0.50),
               scons (>=1.2.0), 
               banshee (>=1.5.1),
               liblircclient-dev (>=0.8.6), 
               mono-devel (>=2.4.2.3),
               pkg-config (>= 0.22)
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/banshee-unofficial-plugins/

Package: banshee-extension-lirc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, banshee (>=1.5.1)
Description: This extension allows you to control banshee with an LIRC device
 This extension lets you use an Infra-Red remote control to control Banshee,
 a Media Management and Playback application.
 It requires a device supported by LIRC, the Linux Infra-Red Remote Control
 framework.
