#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_build:
	scons --prefix=$(CURDIR)/debian/banshee-extension-lirc

override_dh_auto_clean: 
	scons -c
	rm -rf build-stamp configure-stamp .sconf_temp .sconsign.dblite site_scons/site_tools/mcs.pyc

override_dh_auto_install: build
	scons --prefix=$(CURDIR)/debian/banshee-extension-lirc install


