*.swp
*.gmo
*.pc
*.zip
*.tree
*.service
*.o
*.lo
*.la
*.exe
*.mdb
*.deps*
*.libs*
*.pidb
*.config
/*.env
Makefile
Makefile.in
depcomp
POTFILES
intltool-*
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
data/desktop-files/*.desktop
install-sh
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/stamp-it
src/AssemblyInfo.cs
src/Clients/Booter/banshee-1
src/Clients/Booter/banshee-1.darwin
src/Clients/Booter/banshee-1.linux
data/audio-profiles/*.xml
stamp-h1
*.userprefs
Banshee.usertasks
build/m4/shave/shave
build/m4/shave/shave-libtool
build/bundle/build-root
build/bundle/solitary/Options.cs
release-rc
C:\\NUnitPrimaryTrace.txt
tests/Performance/Performance.dll
tests/results/
src/Mirage/libmirageaudio/mirageaudiotest
src/RadioStationFetcher/RadioStationFetcher.addin.xml
