*.swp
*.gmo
*.pc
*.zip
*.tree
*.service
*.o
*.lo
*.la
*.exe
*.mdb
*.deps*
*.libs*
*.pidb
*.config
/*.env
Makefile
Makefile.in
depcomp
POTFILES
intltool-*
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
data/desktop-files/*.desktop
install-sh
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/stamp-it
src/AssemblyInfo.cs
stamp-h1
*.userprefs
build/m4/shamrock/libtool.m4
build/m4/shamrock/ltoptions.m4
build/m4/shamrock/ltsugar.m4
build/m4/shamrock/ltversion.m4
build/m4/shamrock/lt~obsolete.m4
build/m4/shave/shave
build/m4/shave/shave-libtool
src/Mirage/libmirageaudio/mirageaudiotest
src/RadioStationFetcher/RadioStationFetcher.addin.xml
run_debug
help/*/*.mo
help/*/*.page
!help/C/*.page
src/LastfmFingerprint/liblastfmfpbridge/lastfmfpbridgetest
