*.pidb
*.usertasks
*.dll
*.swp
*.gmo
*.config
Makefile
Makefile.in
POTFILES
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
install-sh
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/stamp-it
stamp-h1
*.userprefs
*.addin.xml
*.pc
