Source: mirage
Section: Multimedia
Priority: extra
Maintainer: Dominik Schnitzer <dominik@schnitzer.at>
Build-Depends: debhelper (>= 5), autotools-dev, banshee, mono-gmcs (>= 1.2.3)
Standards-Version: 3.7.2

Package: banshee-mirage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mpg123, vorbis-tools, faad, sox, fftw3, libmono-sqlite2.0-cil, banshee
Description: Automatic Playlist Generation Plugin for Banshee
 Mirage is an automatic playlist generation plugin for the Banshee
 Media Player. After having analyzed your music collection it is
 able to automatically find sinilar sounding music.
 Mirage does only look at the audio signal in its similarity search.
