Package: banshee-extension-streamrecorder
Version: 0.2.2beta-0ubuntu0
Section: sound
Priority: optional
Architecture: all
Depends: banshee (>= 1.5.1-1)
Installed-Size: 122
Maintainer: Frank Ziegler <funtastix@googlemail.com>
Description: Extension for banshee that allows users to rip
 internet radio streams. Any radio stream played in Banshee 
 can be recorded into a file with no need for separate 
 programs.
 .
 It supports tagging, multiple encoders (ogg, mp3, flac)
 and automatic splitting of files when new tags are sent 
 through the stream.
 .
 This project was originally based on banshee-streamripper of 
 Akseli Mantila.
 .
 This package contains only the Banshee Streamrecorder Extension.
